.twoCol {
  -webkit-column-count: 2 ;/* Chrome, Safari, Opera */
  -moz-column-count: 2 ;/* Firefox */
  column-count: 2 ;
  
  margin-top: 10px;
  margin-bottom:10px;
  margin-left: 50px;
  margin-right: 50px;
}


.moveContainer{
  display: inline-block;
  width: 3em;
}
.likeContainer{
  display: inline-block;
  width: 3em;
}

#newCommentText{
  width: 100%;
  border: 0px;
}
#newCommentContainer{
  margin-left: 50px;
  margin-right: 50px;
}
#newComment{
  width: 600px;
  height: 100px;
}

#submitNewComment{
  height: 100px;
  padding: 10px;
}

.list-group-item.selected_true{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.list-group-item-warning.selected_true{
    color: #468847;
    background-color: #9ee282;
    border-color: #d6e9c6;
}

.panel.selected_true{
    border-width: 3px;
    border-color: #3c763d;
}

.commentbox{
  
}

.groupBox{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
}


.unselect{
  color: red;
}

.groupControls{
  border-bottom: 1px solid black;
}